<!DOCTYPE html>
<head>
    <title>EJS</title>
</head>
<body>
    <%- include('../views/partials/header.ejs')%>
    <h1>Este é um arquivo EJS</h1>
    <%- include('../views/partials/footer.ejs')%>
</body>
</html>